body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-right: 15%;
    padding-left: 15%;
    background-color: #2f3136;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p-body{
    font-size: 1.2rem;
}

a{
    color: #9da1a4;
    text-decoration: none;
}

nav{
    list-style-type: none;
}

.nav-items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.nav-items a:hover{
    background-color:#9da1a4;
    border-radius: 5%;
}

.nav-items a{
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    color: #ffffff;
}

footer{
    list-style-type: none;
    margin-top: auto;
}

.footer-items{
    display: flex;
    justify-content: center;
}

.footer-items a{
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

i {
    color: #ffffff;
}

.footer-items i:hover{
    background-color: #9da1a4;
    border-radius: 5%;
}

.footer-copyright{
    font-size: small;
    text-align: center;
    padding-bottom: 1rem;
    color: #ffffff;
}