@media (prefers-color-scheme: light) {
    :root {
        --text: #333333;
        --accent: #007BFF;
        --accent-2: #FF6B6B;
        --bg-main: #F5F5F5;
        --header-footer: #FFFFFF;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #E0E0E0;
        --accent: #3498DB;
        --accent-2: #FFA07A;
        --bg-main: #121212;
        --header-footer: #1E1E1E;
    }
}

* {
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    background-color: var(--bg-main);
}

.content{
    padding-left: 15%;
    padding-right: 15%;
}

.p-body{
    font-size: 1rem;
}

a{
    color: var(--accent);
    text-decoration: none;
}

h5{
    color: var(--accent);
    font-size: 1rem;
    margin-bottom: 0.7rem;
}

h6{
    color: var(--accent)
}

nav {
    padding-left: 15%;
    padding-right: 15%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 1.2rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    height: 100%;
}

nav li {
    height: 100%;
    width: 6rem;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

nav li:hover {
    background-color: var(--accent);
    height: 100%;
    border-radius: 5%;
}

nav ul a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Remove underline for links */
}

input{
    display: none;
}

.toggle_button{
    width: 30px;
    height: 23px;

    position: absolute;
    top: 1rem;
    right: 1rem;

    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.bar{
    height: 4px;
    width: 100%;
    background: var(--text);
    border-radius: 100px;
}

footer{
    list-style-type: none;
    margin-top: auto;
}

.footer-items{
    color: var(--header-footer);
    display: flex;
    justify-content: center;
}

.footer-items a{
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

i {
    color: var(--text);
}

.footer-items i:hover{
    background-color: var(--accent);
    border-radius: 5%;
}

.footer-copyright{
    font-size: small;
    text-align: center;
    padding-bottom: 1rem;
    color: var(--text);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    max-width: 1280px;
}

.hide {
    /* '!important' is to make sure that when we add the class using JS, it takes precendence */
    display: none !important;
}

h1 {
    color: var(--accent);
    margin-bottom: 4px;
}

.index{
    padding-top: 20%;
}

h2 {
    width: 100%;
    text-align: center;
    color: var(--text);
    margin: 0;
}

h4{
    color: var(--accent);
}

img {
    border: 2px solid var(--accent);
    box-shadow: 0 0px 6px var(--accent), 0 0px 6px var(--accent);
    max-width: 100%;
    height: auto;
}

button{
    border-color: var(--accent);
    border-radius: 5%;
    padding: 0.5rem 0.5rem;
    background-color: var(--bg-main);
    color: var(--text);
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

small{
    color: var(--text);
    font-size: 0.7rem;
}

a {
    color: var(--accent);
    text-decoration: none;
}

b{
    color: var(--accent-2);
}

a:hover {
    color: var(--text);
}

.github-img {
    width: 45px;
    margin-right: 8px;
}

hr{
    border: 1px solid var(--accent);
    opacity: 30%;
    width: 100%;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-main);
    color: var(--text);
    font-size: 18px;
    padding: 2em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.user-info figure {
    width: 90%;
    max-width: 200px;
}

.user-info img {
    border-radius: 100%;
}

.user-info div {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-left: 5%;
}

.user-info div p {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--text);
    padding-bottom: 18px;
}

.filter-repos,
input {
    background: var(--bg-main);
    width: 50%;
    border-radius: 20px;
    min-width: 300px;
    margin-top: 1em;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid var(--accent);
    color: var(--text);
    text-align: center;
}

.repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-main);
    margin-top: 0;
    padding: 2em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 4em;
}

.attention {
    display: flex;
    align-items: center;
}

.attention i{
    margin-right: 0.5rem;
}

.attention p{
    font-size: small;
}
  
h3 {
    margin: 4px;
    width: 100%;
    text-align: center;
    color: var(--accent);
}

.repo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
}

.repo-list li {
    width: 100%;
    min-height: 180px;
    border-radius: 10px;
    margin: 1em 0;
    border: 1px solid var(--accent);
    padding: 1em;
    text-align: center;
    background-color: var(--bg-main);
}

.repo-list li:hover {
    background-color: var(--bg-main);
    box-shadow: 0 3px 6px var(--accent), 0 3px 6px var(--accent);
}

.link-btn {
    padding: 10px 20px;
    background: var(--bg-main);
    border-radius: 30px;
    border: 2px solid var(--accent);
    color: var(--text);
}

.link-btn:hover {
    background: var(--accent);
    border: 2px solid var(--text);
    transform: scale(1.1);
}

.repo-list p {
    padding: 0em 0.5em;
    margin: 0.5em 0;
}

.bio p{
    margin: 0.4rem;
}

.blog{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}

@media (min-width: 850px) {
    .user-info div {
        width: 45%;
        text-align: left;
    }

    .repo-list {
        justify-content: space-between;
    }

    .repo-list li {
        width: 48%;
    }
}

@media (max-width: 850px) {
    .user-info div p {
        margin: 10px;
    }
}

@media (min-width: 1200px) {
    .repo-list li {
        width: 30%;
    }
}

@media(max-width:850px) {

    nav{
        padding: 0%;
    }

    nav .logo{
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    input{
        display: none;
    }
    .toggle_button{
        display: flex;
    }

    body {
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }

    main {
        max-width: 70%; /* Adjust the percentage as needed */
        margin: auto; /* Center the content */
        padding: 20px; /* Optional: Add some padding for better readability */
    }

    nav ul{
        height: min-content;
        width: 100%;
        background-color: var(--bg-main);

        display: none;
        position: absolute;
        top: 4rem;
    }

    nav li{
        height: min-content;
        width: 100%;
        text-align: center;
    }

    nav ul a{
        padding: 1rem 0;
    }
    #toggle_button:checked ~ ul{
        display: block;
    }

    #toggle_button:checked ~ body{
        max-width: 70%;
    }

}

::-webkit-scrollbar{
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-main);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent);
}